@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

body {
    font-family: "Roboto", sans-serif;
}

.block {
    width: 50%;

    hr {
        border: 2px #d66260 solid;
        color: #d66260;
    }

    .blue {
        color: #003366;
        font-size: 25px;
    }

    .line,
    .game {
        display: flex;
        justify-content: space-between;
    }

    .up,
    .down {
        display: flex;
        justify-content: space-between;

        p {
            width: 140px;
        }
    }
}
