.container .row .game-img {
    height: 300px;
    border-radius: 50px;
}

.container .row {
    margin: auto;
}

.container .row .column {
    padding-left: 50px;
}

.block {
    width: 100%;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 50px;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
}

.panier {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.panier p {
    margin: 0;
}

.price, .name-game{
    font-size: x-large;
    font-weight: bold;
}

.console img {
    width: 50px;
    height: auto;
}

.console { 
    display: flex;
    align-items: center;
}

.console-img {
    background-color: white;
    box-shadow: 0px 5px 10px rgb(206, 206, 206);
    border-radius: 100%;
    padding: 10px;
    margin: 20px;
    margin-left: 0;
}

.console p {
    margin: 0;
}

.btn-dark {
    margin-left: 20px;
}

.btn-purchase {
    display: flex;
    align-items: center;
}

.alert {
    margin-bottom: 0;
    margin-left: 20px;
}

.description {
    margin: 0;
    padding-top: 20px;
}

/* Comment */

.comments {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 200px;
    grid-auto-flow: row;
    padding: 20px;
}

.comment {
    width: 450px;
    height: 150px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    margin: auto;
    padding: 20px;
    font-size: small;
}

.username {
    font-weight: bold;
    margin: 0;
}

.block .row h3, .block .row a {
    margin: 0;
}

.block .row {
    align-items: center;
    justify-content: space-between;
}

/* Note */

.note {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.note a {
    margin: 0;
}

.note img {
    margin: 20px;
}

* {
    scroll-behavior: smooth;
}