html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.all {
    display: flex;
    flex-direction: row;
    padding: 3%;
}

.all .jeux {
    display: flex;
    flex-direction: column;
    flex: 3;
    height: auto;
}

.all .jeux .jeu {
    display: flex;
    height: 150px;
    margin: 2%;
    flex-direction: row;
    justify-content: space-evenly;
}

.all .jeux .jeu .left {
    display: flex;
    color: black;
    width: 350px;
}

.all .jeux .jeu .left img {
    height: 100%;
}

.all .jeux .jeu .left .left_m {
    padding-left: 2%;
}

.all .jeux .jeu .left .left_m .logo {
    height: 55px;
    width: 55px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    margin: 10%;
}

.all .jeux .jeu .left .left_m .logo img {
    height: 40px;
    width: 40px;
}

.all .jeux .jeu .right button {
    border: none;
    background: none;
    font-family: "Montserrat", sans-serif;
    border-bottom: 3px solid #ffde55;
}

.all .prix {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    height: 300px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    padding-left: 2%;
    padding-right: 2%;
}

.line,
.alert {
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    justify-content: space-between;
}

.all .prix .alert {
    justify-content: center;
}

.all .prix .warning {
    margin: 0;
}

.all .prix button {
    background: #dd9f80;
    border-radius: 100px;
    border: none;
    padding: 4%;
    outline: none;

    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
}

@media (max-width: 1200px) {
    .all {
        flex-direction: column;
        align-items: center;
    }

    .all .prix,
    .jeux {
        margin: 2%;
    }

    .all .prix {
        max-width: 500px;
        min-width: 500px;
        padding: 3%;
        margin-bottom: 15%;
    }
}

@media (max-width: 700px) {
    .all .prix {
        max-width: 300px;
        min-width: 300px;
    }
}

@media (max-width: 500px) {
    .all {
        width: view-port;
    }
}
